<div class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="container">
  <div  id="header" class="nav">
    <ul>
	   <li>
	      <a class="navbar-brand" href="#/main">
	        <span class="glyphicon glyphicon-home"></span>
	      </a>
	
	   </li>
	   <li>
	      <a class="navbar-brand" href="/main">
	        <span class="glyphicon glyphicon-user"></span>
	      </a>
	
	   </li>
	   <li>
	      <a class="navbar-brand" href="/main">
	        <span class="glyphicon glyphicon-th-list"></span>
	      </a>
	
	   </li>
	</ul>
	</div>
  </div>
 
</div>
