<div ng-include=" 'components/header.html' "></div>

<div id="order" class="container">

 <div class="row">
  <div class="col-sm-12">
   <div class="panel panel-default">
   
    <div class="panel-body">
	  <div class="form-group">
	  
	    <label  for="exampleInputEmail3">联系人：</label>
        <input ng-model="order.user_name" type="text" class="form-control" id="exampleInputEmail3" placeholder="姓名">
       <label class="radio-inline">
         <input ng-model="order.gender" type="radio" name="inlineRadioOptions"  value="1">男
       </label>
       <label class="radio-inline">
          <input  ng-model="order.gender" type="radio" name="inlineRadioOptions"  value="2">女
       </label>
      <br/>
      <label  for="exampleInputEmail4">联系电话：</label>
        <input ng-model="order.phone" type="text" class="form-control" id="exampleInputEmail4" placeholder="电话">
      <label  for="exampleInputEmail5">地址：</label>
         <textarea ng-model="order.addr" class="form-control" rows="3" placeholder="地址" id="exampleInputEmail5"></textarea>
          <button class="btn btn-default" ng-click="submit(order)">submit</button>
	  </div>
	
	</div>
   </div>
  
  </div>
 
 </div>
</div>


<div ng-include=" 'components/footer.html' "></div>